#footerAGS {
  padding: 50px 0;
  border-top: 1px solid #8d85854a;
  background: #fff;
  position: relative;
  .item{
    .title-footer{
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 15px;
    }
    .text2{
      margin-bottom: 8px;
      display: block;
      transition: 0.3s;
    }
    a:hover{
      color: var(--xanh_chu_da0);
    }
  }
  .first-col{
    .logo{
      width: 100px;
      margin-bottom: 15px;
    }
    .des{
      font-weight: bold;
      margin-bottom: 12px;
    }

  }
  
}

